.vagrant
.DS_Store
tools/media/*
tools/intelFPGA_lite
tools/xilinx/*
vagrant/v_home/altera/components
vagrant/v_home/altera/ip
vagrant/v_home/altera/logs
vagrant/v_home/altera/nios2eds
vagrant/v_home/altera/quartus
vagrant/v_home/altera/modelsim_ase/
vagrant/v_home/altera/readme.txt
vagrant/v_home/altera/setup.sh
vagrant/v_home/altera/uninstall
vagrant/v_home/.config/Xilinx
