.vagrant
.DS_Store
tools/media/*
tools/intel/*
tools/xilinx/*
bootstrap_old.sh
# vagrant/v_home/intel/components
# vagrant/v_home/intel/ip
# vagrant/v_home/intel/logs
# vagrant/v_home/intel/nios2eds
# vagrant/v_home/intel/quartus
# vagrant/v_home/intel/modelsim_ase/
# vagrant/v_home/intel/readme.txt
# vagrant/v_home/intel/setup.sh
# vagrant/v_home/intel/uninstall
# vagrant/v_home/.config/Xilinx
